
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                  <header><h1>Welcome to UgotMail Service</h1></header>
                
</nav>
<div class="mainBody">
    <div class="leftBody">
      <nav>
        <ul class="btn-group-vertical btn-block" >  
          <br><br><br><br><br>
        
          <li>
            <a class="btn btn-default btn-block"  [routerLink] = "['inbox']" >Inbox</a>
          </li>
          <li>
            <a class="btn btn-default btn-block" [routerLink] = "['sent']">Sent mail</a>
          </li>
          <li>
            <a class="btn btn-default btn-block" [routerLink] = "['compose']">Compose</a>
          </li>
       
          <li>
            <a class="btn btn-default btn-block" href="#">Trash</a>
          </li>
          <li>
            <a class="btn btn-default btn-block" [routerLink] = "['contact']">contacts</a>
          </li>
          <li>
            <a class="btn btn-default btn-block"  [routerLink] = "['logout']">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  
  <div class="rightBody">
      <div class="row">
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
           
           <router-outlet></router-outlet>

        </main>
      </div>
  </div>
</div>


  
 




